[submodule "src/code.cloudfoundry.org/dockerdriver"]
	path = src/code.cloudfoundry.org/dockerdriver
	url = https://github.com/cloudfoundry/dockerdriver
	branch = main
[submodule "src/code.cloudfoundry.org/mapfs/fstest"]
	path = src/code.cloudfoundry.org/mapfs/fstest
	url = https://github.com/zfsonlinux/fstest
	branch = master
